
<h5>Modificar Categoría</h5>

<form (ngSubmit)="guardarModificacion()">

  <div class="my-3">
    <label for="descripcion" class="form-label">Descripción:</label>
    <input class="form-control" type="text" id="descripcion" name="descripcion" [(ngModel)]="categoria.descripcion" required>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>

</form>
