<h5>Agregar Categoría</h5>
<div class="my-3">
  <label for="exampleInputEmail1" class="form-label">Nombre de la categoria:</label>
  <input class="form-control" [(ngModel)]="nuevaCategoria.descripcion" required>
</div>
<button type="submit" class="btn btn-primary"(click)="guardarCategoria()">Guardar</button>

