<h5>Agregar Persona</h5>
<div class="my-3">
  <label for="nombre" class="form-label">Nombre:</label>
  <input class="form-control" [(ngModel)]="nuevoPaciente.nombre" required>
</div>
<div class="my-3">
  <label for="apellido" class="form-label">Apellido:</label>
  <input class="form-control" [(ngModel)]="nuevoPaciente.apellido">
</div>
<div class="my-3">
  <label for="telefono" class="form-label">Telefono:</label>
  <input class="form-control" [(ngModel)]="nuevoPaciente.telefono">
</div>
<div class="my-3">
  <label for="email" class="form-label">E-mail:</label>
  <input class="form-control" [(ngModel)]="nuevoPaciente.email">
</div>
<div class="my-3">
  <label for="cedula" class="form-label">Cédula:</label>
  <input class="form-control" [(ngModel)]="nuevoPaciente.cedula">
</div>
<div class="form-check my-3">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="nuevoPaciente.flag_es_doctor">
  <label class="form-check-label" for="flexCheckChecked">
    Es doctor?: (Sí/No)
  </label>
</div>
<button type="submit" class="btn btn-primary"(click)="guardarPaciente()">Guardar</button>
