<div>
  <form (ngSubmit)="guardarReserva()" #reservaForm="ngForm">


    <div class="my-3">
      <label for="pacienteSelect">Seleccione el paciente:</label>
      <select  class="form-select" id="pacienteSelect" name="paciente" [(ngModel)]="nuevaReserva._paciente">
        <option *ngFor="let paciente of pacientesDisponibles" [ngValue]="paciente">{{ paciente.nombre }} {{ paciente.apellido }}</option>
      </select>
    </div>

    <div class="my-3">
      <label for="doctorSelect">Seleccione el doctor:</label>
      <select class="form-select" id="doctorSelect" name="doctor" [(ngModel)]="nuevaReserva._doctor">
        <option *ngFor="let doctor of doctoresDisponibles" [ngValue]="doctor">{{ doctor.nombre }} {{ doctor.apellido }}</option>
      </select>
    </div>

    <div class="my-3">
      <label for="fechaInput">Fecha:</label>
      <input class="form-control" id="fechaInput" type="date" name="fecha" [(ngModel)]="nuevaReserva.fecha" required>
    </div>

    <div class="my-3">
      <label for="horaSelect">Hora:</label>
      <select class="form-select" id="horaSelect" name="hora" [(ngModel)]="nuevaReserva.hora">
        <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
      </select>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
