<div class="container">
    <h2>Registrar Ficha Clinica</h2>
    <form (ngSubmit)="guardarFicha()">
      <div class="form-group">
        <label for="paciente">Paciente:</label>
        <select class="form-control" id="paciente" [(ngModel)]="nuevaFicha._paciente" name="_paciente">
          <option *ngFor="let paciente of pacientesDisponibles" [ngValue]="paciente">{{paciente.cedula}}, {{ paciente.nombre }} {{ paciente.apellido }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctor">Doctor:</label>
        <select class="form-control" id="doctor" [(ngModel)]="nuevaFicha._doctor" name="_doctor">
          <option *ngFor="let doctor of doctoresDisponibles" [ngValue]="doctor">{{doctor.cedula}}, {{ doctor.nombre }} {{ doctor.apellido }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="nuevaFicha.fecha" name="fecha">
      </div>
      <div class="form-group">
        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria" [(ngModel)]="nuevaFicha.categoria" name="categoria">
          <option *ngFor="let categoria of categoriasDisponibles" [ngValue]="categoria">{{categoria.idCategoria}} - {{ categoria.descripcion }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="motivoConsulta">Motivo de Consulta:</label>
        <textarea class="form-control" id="motivoConsulta" [(ngModel)]="nuevaFicha.motivo_consulta" name="motivo_consulta" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="diagnostico">Diagnóstico:</label>
        <textarea class="form-control" id="diagnostico" [(ngModel)]="nuevaFicha.diagnostico" name="diagnostico" rows="3"></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  