<b class="h5">Ficha</b>
<router-outlet></router-outlet>

<div class="row my-3 justify-content-center">
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroNombre" id="filtro" placeholder="Nombre">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroApellido" id="filtro" placeholder="Apellido">
  </div>
  <div class="col-sm-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Tipo:</span>
      <select class="form-select" [(ngModel)]="filtroTipo" id="filtroTipo">
        <option selected>Todos</option>
        <option value="pacientes">Solo pacientes</option>
        <option value="doctores">Solo doctores</option>
      </select>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive p-0">
    <table class="table table-hover">
      <thead class="card-header">
        <tr>
          <th class="text-center col-2">Operaciones</th>
          <th class="col-1">ID</th>
          <th class="col-2">Nombre</th>
          <th class="col-2">Apellido</th>
          <th class="col-1">Telefono</th>
          <th class="col-2">E-mail</th>
          <th class="col-1">Cedula</th>
          <th class="col-1 text-center">Es doctor</th>
        </tr>
      </thead>
      <tbody class="card-body">
        <tr *ngIf="pacientes.length == 0">
          <td colspan="9">No hay personas registradas.</td>
        </tr>
        <tr *ngFor="let p of pacientes">
          <ng-container *ngIf="(filtroTipo === 'Todos') ||
                                (filtroTipo === 'pacientes' && !p.flag_es_doctor) ||
                                (filtroTipo === 'doctores' && p.flag_es_doctor === true)">
            <ng-container *ngIf="(p.nombre.includes(filtroNombre))">
              <ng-container *ngIf="(p.apellido.includes(filtroApellido))">
                <td class="text-center col-2">
                  <button class="m-1 btn btn-danger" (click)="borrarPaciente(p.idPersona)">Borrar</button>
                  <a class="m-1 btn btn-primary" [routerLink]="['/modificarpaciente', p.idPersona]">Editar</a>
                </td>
                <td class="align-middle col-1">{{p.idPersona}}</td>
                <td class="align-middle col-2">{{p.nombre}}</td>
                <td class="align-middle col-2">{{p.apellido}}</td>
                <td class="align-middle col-1">{{p.telefono}}</td>
                <td class="align-middle col-2">{{p.email}}</td>
                <td class="align-middle col-1">{{p.cedula}}</td>
                <td class="align-middle col-1 text-center">
                  <span *ngIf="p.flag_es_doctor">Si</span>
                  <span *ngIf="!p.flag_es_doctor">No</span>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row flex justify-content-center my-3">
  <a class="btn btn-primary col-sm-2" routerLink="/nuevopaciente">Agregar Persona</a>
</div>
