<b class="h5">Reservas</b>
<router-outlet></router-outlet>

<div class="row my-3 justify-content-center">
  <div class="my-1 col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroPaciente" id="filtro" placeholder="Paciente">
  </div>
  <div class="my-1 col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroDoctor" id="filtro2" placeholder="Doctor">
  </div>
  <div class="my-1 col-sm-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Desde:</span>
      <input type="date" class="form-control" id="fechaInput" [(ngModel)]="fechaDesde" >
    </div>
  </div>
  <div class="my-1 col-sm-2 ">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon2">Hasta:</span>
      <input type="date" class="form-control" id="fechaInput2" [(ngModel)]="fechaHasta">
    </div>
  </div>
</div>

<div class="card">
  <div class="table-responsive p-0">
    <table class="table table-hover mh-100">
      <thead class="card-header">
        <tr>
          <th class="text-center col-2">Operaciones</th>
          <th class="col-3" colspan="3">Paciente:</th>
          <th class="col-3" colspan="3">Doctor:</th>
          <th class="col-2">Fecha</th>
          <th class="col-2">Hora</th>
        </tr>
        <tr>
          <td class="col-1"></td>
          <td class="col-1">ID</td>
          <td class="col-1">Nombre</td>
          <td class="col-1">Apellido</td>
          <td class="col-1">ID</td>
          <td class="col-1">Nombre</td>
          <td class="col-1">Apellido</td>
          <td class="col-2"></td>
          <td class="col-2"></td>
        </tr>
      </thead>
      <tbody class="card-body">
        <tr *ngIf="reservas.length == 0">
          <td colspan="11">No hay personas registradas.</td>
        </tr>
        <tr *ngFor="let r of reservas">
          <ng-container *ngIf="(r._doctor.nombre.includes(filtroDoctor))">
            <ng-container *ngIf="(r._paciente.nombre.includes(filtroPaciente))">
              <ng-container *ngIf="parseDateString(r.fecha) >= parseDateString(fechaDesde)">
                <ng-container *ngIf="parseDateString(r.fecha) <= parseDateString(fechaHasta)">
                  <td class="text-center col-2">
                    <button class="m-1 btn btn-danger" (click)="borrarReserva(r.idReserva)">Borrar</button>
                    <!--<a class="m-1 btn btn-primary disabled" [routerLink]="['/modificarreserva', r.idReserva]">Editar</a>-->
                  </td>
                  <td class="align-middle col-1">{{r._paciente.idPersona}}</td>
                  <td class="align-middle col-1">{{r._paciente.nombre}}</td>
                  <td class="align-middle col-1">{{r._paciente.apellido}}</td>
                  <td class="align-middle col-1">{{r._doctor.idPersona}}</td>
                  <td class="align-middle col-1">{{r._doctor.nombre}}</td>
                  <td class="align-middle col-1">{{r._doctor.apellido}}</td>
                  <td class="align-middle col-2">{{r.fecha}}</td>
                  <td class="align-middle col-2">{{r.hora}}</td>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row flex justify-content-center my-3">
  <a class="col-sm-2 btn btn-primary" routerLink="/nuevareserva">Agregar reserva</a>
</div>
