<b class="h5">Ficha</b>
<router-outlet></router-outlet>

<div class="row my-3 justify-content-center">
  <div class="my-1 col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroPaciente" id="filtro" placeholder="Paciente">
  </div>
  <div class="my-1 col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroDoctor" id="filtro2" placeholder="Doctor">
  </div>
  <div class="my-1 col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="filtroCategoria" id="filtro3" placeholder="Categoria">
  </div>
  <div class="my-1 col-sm-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Desde:</span>
      <input type="date" class="form-control" id="fechaInput" [(ngModel)]="fechaDesde" >
    </div>
  </div>
  <div class="my-1 col-sm-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon2">Hasta:</span>
      <input type="date" class="form-control" id="fechaInput2" [(ngModel)]="fechaHasta">
    </div>
  </div>
</div>

<div class="card">
  <div class="table-responsive p-0">
    <table id="tabla_ficha" #tabla_ficha class="table table-hover mh-100">
      <thead class="card-header">
        <tr>
          <th class="text-center col-2">Operaciones</th>
          <th id="paciente" class="col-3" colspan="2">Paciente:</th>
          <th class="col-3" colspan="2">Doctor:</th>
          <th class="col-1">Fecha</th>
          <th class="col-1">Categoria</th>
          <th class="col-1">Motivo</th>
          <th class="col-1">Diagnóstico</th>
        </tr>
        <tr>
          <td class="col-1"></td>
          <td class="col-1">Nombre</td>
          <td class="col-1">Apellido</td>
          <td class="col-1">Nombre</td>
          <td class="col-1">Apellido</td>
          <td class="col-1  "></td>
          <td class="col-1"></td>
          <td class="col-1"></td>
          <td class="col-1"></td>
        </tr>
      </thead>
      <tbody class="card-body">
        <tr *ngIf="fichas.length == 0">
          <td colspan="11">No hay personas registradas.</td>
        </tr>
        <tr *ngFor="let ficha of fichas">
          <ng-container *ngIf="(ficha.categoria.descripcion.includes(filtroCategoria))">
            <ng-container *ngIf="(ficha._doctor.nombre.includes(filtroDoctor))">
              <ng-container *ngIf="(ficha._paciente.nombre.includes(filtroPaciente))">
                <ng-container *ngIf="parseDateString(ficha.fecha) >= parseDateString(fechaDesde)">
                  <ng-container *ngIf="parseDateString(ficha.fecha) <= parseDateString(fechaHasta)">
                    <td class="text-center col-2">
                      <button class="m-1 btn btn-danger" (click)="borrarFicha(ficha.idFicha)">Borrar</button>
                      <a class="m-1 btn btn-primary " [routerLink]="['/modificarfichaclinica', ficha.idFicha]">Editar</a>
                    </td>
                    <td class="align-middle col-1">{{ficha._paciente.nombre}}</td>
                    <td class="align-middle col-1">{{ficha._paciente.apellido}}</td>
                    <td class="align-middle col-1">{{ficha._doctor.nombre}}</td>
                    <td class="align-middle col-1">{{ficha._doctor.apellido}}</td>
                    <td class="align-middle col-1">{{ficha.fecha}}</td>
                    <td class="align-middle col-1">{{ficha.categoria.descripcion}}</td>
                    <td class="align-middle col-1">{{ficha.motivo_consulta}}</td>
                    <td class="align-middle col-1">{{ficha.diagnostico}}</td>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row flex justify-content-center my-3">
  <a class="col-sm-2 btn btn-primary m-2" routerLink="/nuevafichaclinica">Agregar ficha sin reserva</a>
  <a class="col-sm-2 btn btn-primary m-2" routerLink="/nuevafichaclinica_reserva">Agregar ficha con reserva</a>
  <a class="col-sm-2 btn btn-secondary m-2" (click)="generatePDF()">Generar PDF</a>
  <a class="col-sm-2 btn btn-secondary m-2" (click)="generateExcel()">Generar Excel</a>
</div>
