<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TP Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/categoria">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/paciente">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/reserva">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/fichaclinica">Lista de fichas clinicas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid p-4 w-100">
  <div class="row">
      <div class="col-12 ">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>


