<div class="container">
    <h2>Registrar Ficha Clinica</h2>
    <form (ngSubmit)="guardarFicha()">
      <div class="form-group">
        <label for="reserva">Reserva:</label>
        <select class="form-control" id="reserva" [(ngModel)]="reservaElegida" name="reservaelegida">
          <option *ngFor="let reserva of reservasDisponibles" [ngValue]="reserva">
            ID: {{reserva.idReserva}},
            Doctor: {{reserva._doctor.nombre}} {{reserva._doctor.apellido}},
            Paciente: {{reserva._paciente.nombre}} {{reserva._paciente.apellido}},
            Fecha: {{reserva.fecha}}, Hora: {{reserva.hora}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="nuevaFicha.fecha" name="fecha">
      </div>
      <div class="form-group">
        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria" [(ngModel)]="nuevaFicha.categoria" name="categoria">
          <option *ngFor="let categoria of categoriasDisponibles" [ngValue]="categoria">{{categoria.idCategoria}} - {{ categoria.descripcion }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="motivoConsulta">Motivo de Consulta:</label>
        <textarea class="form-control" id="motivoConsulta" [(ngModel)]="nuevaFicha.motivo_consulta" name="motivo_consulta" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="diagnostico">Diagnóstico:</label>
        <textarea class="form-control" id="diagnostico" [(ngModel)]="nuevaFicha.diagnostico" name="diagnostico" rows="3"></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  