<h5>Modificar Persona</h5>
<form (ngSubmit)="guardarModificacion()" #pacienteForm="ngForm">
  <div class="form-group my-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="paciente.nombre" required>
  </div>
  <div class="form-group my-3">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="paciente.apellido" required>
  </div>
  <div class="form-group my-3">
    <label for="telefono">Teléfono:</label>
    <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="paciente.telefono">
  </div>
  <div class="form-group my-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="paciente.email">
  </div>
  <div class="form-group my-3">
    <label for="cedula">Cédula:</label>
    <input type="text" class="form-control" id="cedula" name="cedula" [(ngModel)]="paciente.cedula">
  </div>
  <div class="form-group my-3">
    <input type="checkbox" class="form-check-input" id="flagEsDoctor" name="flagEsDoctor" [(ngModel)]="paciente.flag_es_doctor">
    <label for="flagEsDoctor">¿Es Doctor?</label>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
