<b class="h5">Categorías</b>
<router-outlet></router-outlet>
<div class="card mt-3">
  <div class="table-responsive p-0">
    <table class="table table-hover">
      <thead class="card-header">
        <tr>
          <th class="col-1 text-center">Operaciones</th>
          <th class="col-1 m">ID</th>
          <th class="col-5">Descripcion</th>
        </tr>
      </thead>
      <tbody class="card-body">
        <tr *ngIf="categorias.length == 0">
          <td colspan="3">No hay categorias registradas.</td>
        </tr>
        <tr *ngFor="let c of categorias">
          <td class="col-1 text-center">
            <button class="m-1 btn btn-danger" (click)="borrarCategoria(c.idCategoria)">Borrar</button>
            <a class="m-1 btn btn-primary" [routerLink]="['/modificarcategoria', c.idCategoria]">Editar</a>
          </td>
          <td class="col-1 align-middle">{{c.idCategoria}}</td>
          <td class="col-5 align-middle">{{c.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row flex justify-content-center my-3">
  <a class="btn btn-primary col-sm-2" routerLink="/nuevacategoria">Agregar categoría</a>
</div>
